@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
 /* font-family: "Azeret Mono", monospace; */
 .container {
   display: flex;
   justify-content: space-between;
  align-items: center;
  margin: 20px;
  
  border-radius: 8px;
 }
 .subtitle {
   display: flex;
   padding: 17px 24px 17px 24px;
   border-radius: 8px;
   opacity: 0.8;
 }
 .bnp-title {
   font-size: 18px;
   font-weight: 600px;
   text-align: center;
   margin-right: 50px;
 }
 .bnp {
   font-size: 28px;
   font-weight: 800px;
   text-align: left;
     font-family: Azeret Mono;
     margin-left: 100px;
    
 }

 .web {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    height: 652px;
   margin:0 auto;
   margin-top: 100px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
 }
.web-container {
    max-width: 998px;
    height: 581px;

}


.web-title {
    margin-left: 300px;
}

 .web-subtitle {
    font-size: 48px;
    font-weight: 800px;
    text-align: center;
    color: black;
    font-family: Azeret Mono;
    margin-bottom: 24px;
 }
 .web-description {
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    opacity: 0.7;
   font-family: Azeret Mono;
 } 
 /* button */
 .brrr {
    font-size: 18px;
    font-weight: 100px 
    text-align: center;
    font-family: Azeret Mono;
    color:white;
    padding: 21px 24px 21px 24px;
    background-color: black;
   border-radius: 8px;
 }
 .btn {
   max-width: 244px;
   height: 60px;
    margin-left: 350px;
    margin-top: 32px;
  border: none;
  color: black;
 }
/* title section */
 .title {
  max-width: 1140px;
  height: 1393px;
  background-color: #0d13210a;
  margin: 0 auto;
  border-radius: 16px;
  
  
 }

 .title-box {
  width: 946px;
  height: 1233px;
  margin-left: 100px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 80px 97px 80px 97px;
 }

.shop {
  font-size: 32px;
  font-weight: 900px;
  font-family: Azeret Mono;
  text-align: center;
  
}
.about {
  font-size: 16px;
  font-weight: 400;
 font-family: Azeret Mono;
 text-align: center;


}
/* img section */

.title-fit {
  max-width: 946px;
  height: 336px;
  background-color: white;
  margin-top: 100px;
}
.submit {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  margin-left: 600px;
  padding: 4px 40px 40px 40px;
width: 270px;
height: 140px;
margin-bottom: 200px;
}
.doop {
  font-size: 24px;
  font-weight: 700px;
   font-family: Azeret Mono;
  text-align: left;
  padding-top: 20px;
  
}
.good {

}

.web-develop {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
max-width: 1140px;
height: 775px;
margin-left: 150px;
margin-top: 40px;

}
.nebol {
  font-size: 32px;
  font-weight: 900px;
    font-family: Azeret Mono;
    text-align: center;
 
}
.nobel {
  font-size: 16px;
  font-weight: 400px;
      font-family: Azeret Mono;
text-align: center;
margin-top: ;
}

.webie {


/* align-items: ; */

}
  .asde {
border-radius: 16px;
 box-sizing: border-box
}
.just {
  max-width: 1090px;
  height: 608px;
  padding: 32px;
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
padding: 32px 32px 32px 32px;

margin-top: 48px;


}
/* Target section */
.targets {
  
  margin-top: 100px;
}
.ship {
  font-size: 32px;
  font-weight: 800px;
  text-align: center;
}
.abiut {
  font-size: 16px;
  font-weight: 400px;
  text-align: center;
}

.what {
  display: flex;
  justify-content: center;
  gap: 24;
  
}
.waht-you {
  gap: 32;
padding: 40px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
margin: 24px;
}
.br {
  background-color: #ff4b1e18;
}
.ar {
  background-color: #ffdd0011;
}

/* my next target */

.titli {
  font-size: 32px;
  font-weight: 900px;
  text-align: center;
}
.subtitli {
  font-size: 16px;
  font-weight: 400px;
  text-align: center;
  opacity: 0.7;
}
.Next-container {

  width: 1140px;
height: 219px;
margin: 0 auto;

}

.Next {

}

.react{
  display: flex;
  border: 1px solid black;
  align-items:  center;
  gap: 25px;
  border-radius: 16px;
  margin-top: 30px;
  padding: 40px;
 
}
.imm {
  font-size: 24px;
  font-weight: 900;
}
.bmm {
  font-size: 16px;
  font-weight: 400px;
  opacity: 0.7;
}

.pic {
  max-width: 1140px;
  height: 313px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("../assets/handshake.jpg");
  /* background-size: cover */
  background: url(Email),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  margin-top: 100px;
background-size: cover ;
background-position: 20px;
padding: 64px 48px 64px 48px;
 
  
  
}
.border {
  border-radius: 16px;
background: url(Email),rgba(20, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
background-color: rgb(0, 0, 0);
}

.poli {
  font-size: 16px;
  font-weight: 400px;
  padding: 20px 18px 20px 18px;
  
  border: none;
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgba(255, 255, 255, 1);
  
 

}
.picja {
  width: 1044px;
height: 185px;
padding: 48px 64px ;

}
.top {
  font-size: 35px;
  font-weight: 700;
  color: #FFFFFF;
}
.tope {
  color: #FFFFFF;
  opacity: 0.7;
}
.pita {

   font-size: 16px;
  font-weight: 400px;
  padding: 19px 20px 19px 20px;
  border-radius: 8px;
  margin-left: 16px;
  border: none;
}

.you {
  
  padding: 32px 150px 32px 150px;
  margin-top:90px;
  background-color: #0d132113 ;
  border-radius: 16px;


}
.your {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Azeret Mono;

}




 

